@import 'tailwindcss';

html {
    scroll-behavior: smooth;
}

.fade-in {
    animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes bg-pan {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}

.bg-worldmap::before {
    content: '';
    position: absolute;
    inset: 0;
    background-image: url('/worldmap.jpg');
    background-size: cover;
    background-position: center;
    opacity: 0.2;
    animation: bg-pan 30s linear infinite;
    z-index: 0;
}
